<h1 id="team"><%= @team.team_name %></h1>

<p id="team">Have Something to Say?</p>
<h1>Submit Your Comment Below!</h1>

<form action='/comments' method='POST'>
  <input type='hidden' id="<%= @team.id %>" name="team_id" value="<%= @team.id %>">
  <input placeholder="Enter Comment Here!" id="comment" type='text' name='content'><br>
  <input type='submit' name='create_comment' id='create_comment'>
</form>


<h2>See What Everyone is Saying about the <%= @team.team_name %></h2>
<% @team_comments.each do |tc| %>
<ol>
  <li id="comment"><%= tc.content %></li>
</ol>
<% end %>






